* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.index {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ocupa todo el alto */
  width: 100%; /* Ocupa todo el ancho */

  /* La ruta correcta para que se vea la imagen */
  background-image: url("../img/fondo.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Estira la imagen para que no queden bordes blancos */
  background-attachment: fixed; /* El fondo se queda quieto al hacer scroll */
}

/* Para que afecte a TODA la página usa el asterisco */
* {
  font-family: "Orbitron", sans-serif;
}

/* Si quieres usar Bebas Neue específicamente para títulos */
h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px; /* Bebas Neue se ve mejor con espacio entre letras */
  padding: 1rem;
}

h4 {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Orbitron", sans-serif;
}

p {
  color: antiquewhite;
}
header {
  background-color: transparent;
  padding: 1rem 2rem;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
}
.logo {
  width: 150px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: antiquewhite;
}

header nav ul {
  display: flex;
  gap: 2.5rem;
}

.reason-title {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  color: antiquewhite;
}
/* Ajusta el contenedor de las imágenes */
.carousel-item img {
  height: 75vh; /* Cambia esta altura a tu gusto (ej: 400px o 600px) */
  margin: auto;

  object-fit: contain; /* CLAVE: Recorta la imagen para que llene el espacio sin estirarse */
  object-position: center center; /* Centra el recorte */
}

.reasons-section {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  color: antiquewhite;
}

.reasons-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.reasons-card {
  background-color: rgba(255, 255, 255, 0.2);

  box-shadow: 7px 7px 10px rgb(5, 120, 187);
  padding: 50px;
}
.logof{
  width: 150px;
}
.footer {
  
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}
